torch
torchvision
torchaudio
timm
transformers
xgboost
catboost
scikit-learn
scipy
pandas
numpy
Pillow
opencv-python-headless
streamlit
requests
joblib
matplotlib
seaborn
python-dotenv
tqdm
shap
gunicorn
black
pylint
pytest
extra-streamlit-components
google-generativeai
groq
